doctype html
html
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")

	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		div.bodyContainer
			block content
		block scripts