extends layout

block content
	div.container.signUpContaine

		div#spinner

		div.row#alertContainer.text-center
			div.large-12.columns
				div#alertDiv.alert-box.alert(data-alert)
					span#alertMessage hallo
					a#alertCloseButton.close &times;

		div#getDevicesView
			div.row.signupHeader.text-center
				div.small-12.columns
					h1 Sign Up for Phound

			form#getDevicesForm
				div.row
					div.large-12.columns
						label iCloud Email
							input#iCloudEmail(type="email", placeholder="swaraj@icloud.me", tabindex="1")
				div.row
					div.large-12.columns
						label iCloud Password
							input#iCloudPassword(type="password", tabindex="2")

				div.row
					div.large-12.columns
						a#getDevicesButton.button.expand(tabindex="3") Get Available Devices

				input.stubSubmit(type="submit")

		div#signUpView
			div.row.signupHeader.text-center
				div.small-12.columns
					h1 Sign Up for Phound
			form#signupForm
				div.row
					div.large-12.columns
						label Select Device
							select#devices(tabindex="5")

				div.row
					div.large-12.columns
						a#signUpBotton.button.expand(tabindex="6") Sign Up!

				input.stubSubmit(type="submit")

		div#showTextIDView
			div.row.signUpSuccessBar.text-center
				div.small-12.columns
					div#successDiv.alert-box.success.radius
						span#successMessage Successfully Signed Up

			div.row.textIDMessage
				div.small-12.columns
					div.panel.radius.textIDPanel
						h2#textIDMessage fad
						hr
						h4#instructionMessage fads




block scripts
	script(src="/js/signup.js")